body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {  
  padding: 0; 
  margin: 0;
  font-family: "Proxima Nova";
  } 
table { 
  border-collapse: collapse; 
  border-spacing: 0; 
  } 
fieldset,img {  
  border: 0; 
  } 
address,caption,cite,code,dfn,em,strong,th,var { 
  font-weight: normal; 
  font-style: normal; 
  } 
ol,ul { 
  list-style: none;
  display: inline-block;
  } 
caption,th { 
  text-align: left; 
  } 
h1,h2,h3,h4,h5,h6 { 
  font-size: 100%;

  } 
q:before,q:after { 
  content:''; 
  } 
abbr,acronym { 
  border: 0; 
  }
  input{
    margin-bottom: 0;
  }
  @font-face{

font-family: 'Proxima Nova';

font-size: 600;

src: url('../font/ProximaNova-Bold.eot?iefix') format('eot'),

url('../font/ProximaNova-Bold.woff') format('woff'),

url('../font/ProximaNova-Bold.ttf') format('truetype'),

url('../font/ProximaNova-Bold.svg') format('svg');
}

@font-face{

font-family: 'Proxima Nova';

font-size: 300;

src: url('../font/ProximaNova-Light.eot?iefix') format('eot'),

url('../font/ProximaNova-Light.woff') format('woff'),

url('../font/ProximaNova-Light.ttf') format('truetype'),

url('../font/ProximaNova-Light.svg') format('svg');
}

@font-face{

font-family: 'Proxima Nova';

font-size: 400;

src: url('../font/ProximaNova-Reg.eot?iefix') format('eot'),

url('../font/ProximaNova-Reg.woff') format('woff'),

url('../font/ProximaNova-Reg.ttf') format('truetype'),

url('../font/ProximaNova-Reg.svg') format('svg');
}